@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/fundoPedras.jpg) ;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container-produtos, .sobre, .categorias-joias {
  display: flex;
  margin: 23px;
  background: rgba(255, 255, 255, 0.8);
  opacity: 80%;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  flex-wrap: wrap;
  text-align: left;
  align-items: center;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
}

.categorias {
  display: flex;
  flex-direction:row;
}

.sobre p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  max-width: 600px;
  color: #333;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produto-exemplo, .categoria-joia {
  padding: 0px;
  background: white;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.produto-exemplo:hover, .categoria-joia:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.produto-exemplo h3 {
  font-size: 1.0rem;
  margin: 10px 0;
  color: #333;
}

.produto-exemplo p {
  color: #28a745;
  font-size: 1.1rem;
  font-weight: bold;
}

.categoria-joia img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

select{
    background: #e6a8675d;
    border: 0;
    border-radius: 15px;
    padding: 13px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    width: 330px;
}

#wrapper {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 90px;
}

h1 {
  color: #686766c6;
  font-size: 50px;
  margin: 0;
}

h2 {
  color: #8d6d50b3;
  margin: 0;
}

form {
  margin: 35px 0;
}

#inputs {
  height: 127px;
  transition: height 0.5s ease-in-out;
}

input[type=number] {
  -moz-appearance: textfield;
}

#inputs div {
  height: 41px;
  transition: transform 0.5s ease-in-out;
  transform-origin: top left;
}

#inputs div input {
  transform: rotateX(0deg);
  transform-style: preserve-3d;
}

input {
  background: #a6a6a6;
  border: 0;
  border-radius: 15px;
  padding: 13px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  width: 300px;
}

input:focus {
  background: #EAEAEA;
}

input[type=submit] {
  background: #43434C;
  color: #FFFEFC;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input:checked[value=reset] ~ #inputs {
  height: 84px;
}

input:checked[value=register] ~ #inputs {
  height: 170px;
}

input:checked[value=login] ~ #labels {
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: #4c4743;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

#hint {
  position: absolute;
  bottom: 20px;
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

@keyframes pulsar {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

a {
  display: inline-block;
  background-color: #4c4743; 
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

a:hover {
  filter: brightness(90%); 
}
