@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url('../img/fundoPedras.jpg'); 
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.container {
  margin: 22px;
  background: rgb(255, 245, 236);
  opacity: 90%;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select{
    background: #e6a8675d;
    border: 0;
    border-radius: 15px;
    padding: 13px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    width: 330px;
    
}

#wrapper {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 90px;
}

h1 {
  color: #686766c6;
  font-size: 45px;
  margin: 0;
}

h2 {
  color: #8d6d50b3;
  margin: 0;
}

form {
  margin: 35px 0;
}

#inputs {
  height: 127px;
  transition: height 0.5s ease-in-out;
}

#inputs div {
  height: 41px;
  transition: transform 0.5s ease-in-out;
  transform-origin: top left;
}

#inputs div input {
  transform: rotateX(0deg);
  transform-style: preserve-3d;
}

input {
  background: #e6a8675d;
  border: 0;
  border-radius: 15px;
  padding: 13px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  width: 300px;
}

input:focus {
  background: #EAEAEA;
}

input[type=submit] {
  background: #43434C;
  color: #FFFEFC;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input:checked[value=reset] ~ #inputs {
  height: 84px;
}

input:checked[value=register] ~ #inputs {
  height: 170px;
}

input:checked[value=login] ~ #labels {
  margin-top: 10px;
}

label {
  font-size: 14px;
  color: #4c4743;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

#hint {
  position: absolute;
  bottom: 20px;
  opacity: 0.2;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}

@keyframes pulsar {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

a{
  display: inline-block;
  background-color: #4c4743; 
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  animation: pulsar 1s infinite ease-in-out;
}